node_modules
.env

# Hardhat files
pongping-contracts/cache
pongping-contracts/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Node dependencies
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directory
**/build/
**/artifacts/

# Ignition deployments
**/ignition/deployments/

**/node_modules